<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Defect details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>

    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
    />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <h2 style="margin-top:20px; text-align: center;">Defect details</h2>
    {{durations}}
    {{sla}}
    <div style="margin: 10px 20px 0px 20px;">
      <table class="table table-fluid" id="myTable">
        <thead>
          <tr>
            <th>Project name</th>
            <th>Defect ID</th>
            <th>Defect summary</th>
            <th>Main defect status</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Meet SLA</th>
          </tr>
        </thead>
        <tbody>
          {% for i in datas %}
            {% set row = datas[loop.index-1] %}
            {% set newdu = new_durations[loop.index-1] %}
            {% set fixednew = fixed_new[loop.index-1] %}
            {% set fixedass = fixed_assigned[loop.index-1] %}
            {% set test = test[loop.index-1] %}
            {% set age = age[loop.index-1] %}
          <tr>
            <td style="width: 300px;">{{row.0}}</td>
            <td style="width: 90px; text-align: center;">{{row.5}}</td>
            <td style="width: 430px;">{{row.8}}</td>
            <td style="width: 160px;">{{row.10}}</td>
            <td>
              <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#date{{row.5}}" aria-expanded="false" aria-controls="date{{row.5}}">
                Click to see date
              </button>
              <div class="collapse" id="date{{row.5}}">
                <div class="card-body"> 
                  <span>
                  <b>Defect date:</b><br>
                  {{row.29}}
                  <br>
                  <b>Assigned date:</b><br>
                  {{row.31}}
                  <br>
                  <b>Renew date:</b><br>
                  {{row.32}}
                  <br>
                  <b>Fixed date:</b><br>
                  {{row.33}}
                  <br>
                  <b>Closed date:</b><br>
                  {{row.36}}
                </span>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#dur{{row.5}}" aria-expanded="false" aria-controls="dur{{row.5}}">
                Click to see duration
              </button>
              <div class="collapse" id="dur{{row.5}}">
                <div class="card-body"> 
                  <b>Defect new duration:</b><br>
                  <p> {{newdu}} </p>
                  <br>
                  <b>Defect fixed new duration:</b><br>
                  <p> {{fixednew}} </p>
                  <br>
                  <b>Defect fixed assigned duration:</b><br>
                  <p> {{fixedass}} </p>
                  <br>
                  <b>Defect test duration:</b><br>
                  <p> {{test}} </p>
                  <br>
                  <b>Defect age duration:</b><br>
                  <p> {{age}} </p>
                </div>
              </div>
            </td>
            <td>
              sla
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script>
      $(document).ready(function () {
        $("#myTable").DataTable();
      });
    </script>
  </body>
</html>

<style>
  th{
    text-align: center;
  }
</style>